@model MVC_Sort_Test.Models.SortEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>SortEntry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalCSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalCSV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortedCSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortedCSV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
