@model IEnumerable<MVC_Sort_Test.Models.SortEntry>

@{
	ViewData["Title"] = "Index";
}

<div class="chart-container" style="position: relative; max-height: 35vh; height:35vh;">
	<canvas id="myChart"></canvas>
</div>

<div>
	<table id="selectedTable" class="table table-hover table-sm">
		<thead>	
		</thead>
		<tbody id="selectedTableBody">
			<tr>
				<td class="text-center">Select a point on the graph</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="text-center">
	<a asp-action="Create" class="btn btn-outline-success btn-sm">Create</a>
	<button type="button" class="btn btn-outline-primary btn-sm" onclick="changePage(0)">&lt&lt</button>
	<button type="button" class="btn btn-outline-primary btn-sm" onclick="changePage(-1)">&lt</button>
	<button id="pageNum" type="button" class="btn btn-info">0</button>
	<button type="button" class="btn btn-outline-primary btn-sm" onclick="changePage()">&gt</button>
	<button type="button" class="btn btn-outline-primary btn-sm" onclick="changePage((totalPages -1))">&gt&gt</button>
	<a asp-action="DeleteAll" class="btn btn-outline-danger btn-sm">DelAll</a>	
</div>
<div>
	<table id="myTable" class="table table-hover table-sm">
		<thead>
			<tr>
				<th onclick="sortTable(0)">
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th onclick="sortTable(1)">
					@Html.DisplayNameFor(model => model.DateAdded)
				</th>
				<th onclick="sortTable(2)">
					@Html.DisplayNameFor(model => model.OriginalCSV)
				</th>
				<th onclick="sortTable(3)">
					@Html.DisplayNameFor(model => model.SortedCSV)
				</th>
				<th class="text-center" onclick="sortTable(4)">
					@Html.DisplayNameFor(model => model.SortTime)
				</th>
				<th class="text-center" onclick="sortTable(5)">
					@Html.DisplayNameFor(model => model.SortOrder)
				</th>
				<th class="text-end">
					<a asp-action="DownloadAllFile" class="btn btn-outline-danger btn-sm text-end">DownloadALL</a>
				</th>
			</tr>
		</thead>
		<tbody id="tableBody">
		</tbody>
	</table>
	@if (Model.Count() < 6)
	{
		<h2 class="text-center">Looking abit quiet here!</h2>
		<div class="text-center">
			<form asp-action="CreateRandom">
				<button type="submit" class="btn btn-success btn-lg">Sort 1000 random CSVs</button>
			</form>
		</div>	
	}
</div>

<script type="text/javascript">
	const model = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/SortEntries/Index.js"></script>



