@model IEnumerable<MVC_Sort_Test.Models.SortEntry>


@{
	ViewData["Title"] = "Index";
}

<div class="chart-container" style="position: relative; max-height: 35vh; height:35vh;">
	<canvas id="myChart"></canvas>
</div>

<div>
	<table id="selectedTable" class="table table-hover table-sm">
		<thead>
		</thead>
		<tbody id="selectedTableBody">
			<tr id="selectedTableRow">
				<td class="text-center">Select a point on the graph</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="text-center" id="table_nav">
	<a asp-action="Create" class="btn btn-outline-success btn-sm">Create</a>
	<button id="pageFirst" type="button" class="btn btn-outline-primary btn-sm">&lt&lt</button>
	<button id="pageDown" type="button" class="btn btn-outline-primary btn-sm">&lt</button>
	<button id="pageNum" type="button" class="btn btn-info">0</button>
	<button id="pageUp" type="button" class="btn btn-outline-primary btn-sm">&gt</button>
	<button id="pageLast" type="button" class="btn btn-outline-primary btn-sm">&gt&gt</button>
	<a asp-action="DeleteAll" class="btn btn-outline-danger btn-sm">DelAll</a>
</div>
<div>
	<table id="myTable" class="table table-hover table-sm">
		<thead>
			<tr>
				<th onclick="sortTable(0)">
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th onclick="sortTable(1)">
					@Html.DisplayNameFor(model => model.DateAdded)
				</th>
				<th onclick="sortTable(2)">
					@Html.DisplayNameFor(model => model.OriginalCSV)
				</th>
				<th onclick="sortTable(3)">
					@Html.DisplayNameFor(model => model.SortedCSV)
				</th>
				<th class="text-center" onclick="sortTable(4)">
					@Html.DisplayNameFor(model => model.SortTime)
				</th>
				<th class="text-center" onclick="sortTable(5)">
					@Html.DisplayNameFor(model => model.SortOrder)
				</th>
				<th class="text-end">
					<a asp-action="DownloadAllFile" class="btn btn-outline-danger btn-sm text-end">DownloadALL</a>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr style="display: none;">
					<td>
						@item.Id
					</td>
					<td>
						@item.DateAdded
					</td>
					<td>
						@if (item.OriginalCSV.Length > 10){
							var s = item.OriginalCSV.Substring(0, 10) + "...";
							@s
						}
						else
						{
							var s = item.OriginalCSV + "...";
							@s
						}
					</td>
					<td>
						@if (item.SortedCSV.Length > 10){
							var s = item.SortedCSV.Substring(0, 10) + "...";
							@s
						}
						else
						{
							var s = item.SortedCSV + "...";
							@s
						}
					</td>
					<td class="text-center">
						@item.SortTime
					</td>
					<td class="text-center">
						@item.SortOrder
					</td>
					<td class="text-end">
						<a href="SortEntries/Details/@item.Id">Details</a>
						<a href="SortEntries/Delete/@item.Id">Delete</a>
						<a href="SortEntries/DownloadFile/@item.Id">Download</a>						
					</td>
				</tr>
			}

		</tbody>
	</table>
	@if (Model.Count() < 6)
	{
		<h2 class="text-center">Looking abit quiet here!</h2>
		<div class="text-center">
			<div class="text-center d-inline-block">
				<form asp-action="CreateRandom" asp-route-id="10">
					<button type="submit" class="btn btn-success btn-lg">Sort 10 randomCSVs</button>
				</form>
			</div>
			<div class="text-center d-inline-block">
				<form asp-action="CreateRandom" asp-route-id="100">
					<button type="submit" class="btn btn-success btn-lg">Sort 100 randomCSVs</button>
				</form>
			</div>
			<div class="text-center d-inline-block">
				<form asp-action="CreateRandom" asp-route-id="1000">
					<button type="submit" class="btn btn-success btn-lg">Sort 1000 randomCSVs</button>
				</form>
			</div>
		</div>
	}
</div>

<script type="text/javascript">
	const model = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/SortEntries/Index.js"></script>



